#Compiled Object files
*.slo
*.lo
*.o
*.obj

#Other Lex/Yacc linked libraries
*.tab.cc
*.tab.h
*.lex.cc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#*.out --> Needed (testcases output files)
*.app

# Misc (Stackdump files, swp files, etc.)
*.stackdump
*.swp
